@import '../../global.scss';


 .body{
   background: linear-gradient(180deg, #8614ce, #0f5fbb);
   width: 100vh;
   height: 100vh;
   .card{
       display: flexbox;
       font-family: Helvetica, sans-serif;
       color: white;
       .title{
           font-weight: bold;
           font-size: 22px;
       }
       .subtitle{
        font-size: 18px;
       }   
   }
}


