<div class="container">

  <h1 class="title">Listy</h1>
  
  <div class="box">
    <ion-slides mode="ios" pager="ios">
      <ion-slide class="slide">
        <div class="login-slide">
          <h1 class="subtitle">Login</h1>
          <ion-item>
            <ion-input class="input" type="email" placeholder="E-mail"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input class="input" type="password" placeholder="Senha"></ion-input>
          </ion-item>
          <ion-button>Entrar</ion-button>
        </div>
      </ion-slide>
      <ion-slide class="slides">
        <div class="signup-slide">
          <h1 class="subtitle">Criar conta</h1>
          <ion-item>
            <ion-input type="text" placeholder="Nome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="email" placeholder="E-mail"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Senha"></ion-input>
          </ion-item>
          <ion-button>Cadastrar-se</ion-button>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <h1 class="footer-title">Listy, seu app de organização!</h1>
</div>